@use '../../../styles/utils/variables' as var;

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  &__button {
    width: 32px;
    height: 32px;
  }

  > button,
  &__dots {
    flex-shrink: 0;
  }

  &__dots {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var.$color-icons;
  }

  & > button:first-child {
    margin-right: 8px;
  }

  & > button:last-child {
    margin-left: 8px;
  }
}
