@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/mixins';
@use '../../../styles/utils/typography';

.colors {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    @extend %small;

    color: var.$color-secondary;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__button {
    width: 32px;
  }
}
