@use '../../styles/utils/variables' as var;
@use '../../styles/utils/mixins';
@use '../../styles/utils/typography';

.product-layout {
  display: flex;
  flex-direction: column;
  margin-block-end: 56px;

  @include mixins.on-tablet {
    margin-block-end: 64px;
  }

  @include mixins.on-desktop {
    margin-block-end: 80px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block: 24px 16px;

    @include mixins.on-tablet {
      gap: 40px;
    }
  }

  &__title {
    @extend %h2;

    margin-block-end: 32px;
    color: var.$color-primary;

    @include mixins.on-tablet {
      margin-block-end: 40px;
    }
  }

  &__top {
    @include mixins.page-grid;

    position: relative;
    row-gap: 24px;
    margin-block-end: 56px;

    @include mixins.on-tablet {
      row-gap: 0;
      margin-block-end: 64px;
    }
  }

  &__content {
    @include mixins.page-grid;

    row-gap: 32px;
    margin-block-end: 56px;

    @include mixins.on-tablet {
      margin-block-end: 64px;
    }
  }

  &__media,
  &__info,
  &__about,
  &__specs {
    grid-column: 1 / -1;
  }

  @include mixins.on-tablet {
    &__media {
      grid-column: 1 / span 7;
    }

    &__info {
      grid-column: 8 / span 5;
    }
  }

  @include mixins.on-desktop {
    &__media {
      grid-column: 1 / span 12;
    }

    &__info {
      grid-column: 14 / span 7;
    }

    &__about {
      grid-column: 1 / span 12;
    }

    &__specs {
      grid-column: 14 / span 11;
    }
  }
}
