@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/typography';

.product-price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  &__current {
    @extend %h3;

    font-size: var.$font-size-xl;
    color: var.$color-primary;

    &--large {
      font-size: var.$font-size-2xl;
    }
  }

  &__old {
    @extend %small;

    font-size: var.$font-size-xl;
    color: var.$color-secondary;
    text-decoration: line-through;
  }
}
