@use './variables' as var;

@mixin on-tablet {
  @media (width >= var.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (width >= var.$desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}
