@use 'variables' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var.$color-primary;
  background-color: var.$color-background;
}

button {
  cursor: pointer;
}
