@use '../../../styles/utils/variables' as var;

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  height: 16px;
  font-family: Mont-Semibold, Arial, Helvetica, sans-serif;
  font-size: var.$font-size-xs;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: var.$letter-spacing-normal;
}

.breadcrumbs-item {
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  align-items: center;

  &:last-child {
    flex-shrink: 1;
    min-width: 0;
  }
}

.breadcrumbs-link {
  color: var.$color-primary;
  text-decoration: none;
  transition: color var.$transition-default;

  &:hover {
    color: var.$color-secondary;
  }
}

.breadcrumbs-current {
  overflow: hidden;
  min-width: 0;
  font-weight: 700;
  color: var.$color-secondary;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var.$color-icons;
}
