@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/mixins';

$thumb-size: 50px;
$thumb-size-tablet: 60px;
$thumb-size-desktop: 80px;

.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include mixins.on-tablet {
    flex-direction: row;
    align-items: stretch;
  }

  &__main {
    aspect-ratio: 1 / 1;
    width: 100%;
    min-width: 0;

    @include mixins.on-tablet {
      flex: 1 1 auto;
      order: 1;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;

    @include mixins.on-tablet {
      flex: 0 0 auto;
      flex-flow: column nowrap;
      order: 0;
      width: $thumb-size-tablet;
    }

    @include mixins.on-desktop {
      width: $thumb-size-desktop;
    }
  }

  &__thumb {
    &.button-icon {
      flex: 0 0 auto;
      width: $thumb-size;
      height: $thumb-size;
      padding: 0;
      border-color: var.$color-elements;
      transition: border-color var.$transition-default ease-in-out;

      @include mixins.on-tablet {
        width: 100%;
        height: $thumb-size-tablet;
      }

      @include mixins.on-desktop {
        height: $thumb-size-desktop;
      }

      &:hover {
        border-color: var.$color-icons;
      }

      &--selected {
        border-color: var.$color-secondary;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
