@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/typography';

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__subtitle {
    @extend %h4;

    color: var.$color-primary;
  }

  &__text {
    @extend %body;

    color: var.$color-secondary;
  }
}
