@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/typography';

.confirm-dialog {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  max-width: calc(100vw - 32px);
  padding: 24px;
  text-align: center;
  background-color: var.$color-white;

  &__overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: var.$color-overlay;
  }

  &__title {
    @extend %h3;

    color: var.$color-primary;
  }

  &__description {
    @extend %body;

    color: var.$color-secondary;
  }

  &__actions {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__action {
    flex: 1;
  }
}
